/* Import Google Font (Corrected URL) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Define CSS variables inside :root */
:root {
    --font-base: 'Lexend', sans-serif;
    --font-second-base: 'Ibter', sans-serif; /* Fallback font */
    
    /* Define color variables */
    --bg-color:#111
    --primary-color: white;  /* Netflix red */
    --secondary-color: red; /* Dark Netflix background */
    --text-color: white;
}

/* Apply base font */
body {
    
    background-color: #111;
}
   *{
    margin: 0;
    padding: 0;

   } 
